<div class="container">
  <div class="row pt-5 pl-5 ml-5">
    <div class="customer-group">
      <div class="title">
        <h3 class="text-center bg-light">Users Index</h3>
      </div>
    </div>
  </div>
    <div class="row pt-5 justify-content-center">
      <div class="col-9">
        <table class="table">
          <thead class="bg-light text-center">
            <tr>
              <th>ID</th>
              <th>Name</th></th>
              <th>E-mail</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr class="text-center">
              <td><%= user.id %></td>
              <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= "#{user.name}" %>
              <% end %>
              </td>
              <td><%= user.email %></td>
              <% if user.is_deleted == false %>
                <td class="text-success">有効</td>
              <% else %>
                <td class="text-secondary">退会</td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination d-flex justify-content-center mb-4">
      <%= paginate @users %>
    </div>
</div>
